@import './App.css';

body {
   	margin: 0;
   	background-size: 100% 100%;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
  	background-image: -webkit-linear-gradient(0deg, var(--blue-color-d) 15%, var(--blue-color-l) 85%);
  	-ms-overflow-style: scrollbar;
  	overflow-x: scroll;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
