@import "./App.css";

section {
  /* background-color: white; */
  padding-top: 100px;
  padding-bottom: 30px;
  width: 100% !important;
}

#home {
  padding-top: 60px;
}

#about {
  background-color: white;
}

h2 span {
    color: var(--blue-color-l);
    font-weight: bold;
}

#selfie {
  display: flex;
  /* width: 302.4px; */
  /* height: 403.2px; */
  min-width: 151.2px;
  min-height: 134.4px;
  width: 70%;
  /* margin-left: 60px; */
  /* margin-right: 20px; */
  margin: 0 auto;
}

.button-div {
  text-align: center;
}

.btn.btn-primary {
  border-radius: 12px;
  background-image: -webkit-linear-gradient(0deg, var(--blue-color-l) 15%, var(--blue-color-d) 85%);
  text-transform: none;
}

.btn.btn-outline-primary {
  border-radius: 12px;
  border-color: var(--blue-color-l) !important;
  color: var(--blue-color-l) !important;
  text-transform: none;

}

.btn.btn-primary.btn-resume {

}

li {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

li span {
  display: inline-block;
  padding: 0 2em;
  background-color: var(--blue-color-l);
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 2em;
  /*box-shadow: 1px 1px 1px #ABABAB;*/

}
